@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
   
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #1707c4;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #383838;
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    overflow-x: hidden;
    overflow-y: hidden;
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}
#home-section-container{
    width: 100%;
}

/* =============================================topbar============================================= */

.search-form{
    margin-left: 5%;
}
.nav-item-icon{
    justify-content: space-between;
    display: flex;
    align-items: baseline;
    justify-content: right;
    gap: 15px;
}
.navbar{
    position: sticky;  
    top: 0;
    display: block;
    z-index: 1;
    right: 0;
    

}
/*###############################################################################################################*/
.dropdown-btn {
    padding: 16px;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: end;
    margin-left: -12px;
}



.dropdown-container {
    display: none;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    
}

.dropdown-container a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
}


/*#################################################################################################*/

/* =============================================Sidebar============================================= */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 20px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 100px;
    align-items: center;
}
.search-box input{
    margin-left: 10px;
}
.dropdown-item:hover{
    background-color: #1707c4;
    color: white;
 }
 
/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 30px;
    border-radius: 6px;
    height: 100%;
   
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
    
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
.image i{
    margin-left: 10px;
    font-size: 30px;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
    color: #0066ff;

}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -35px;
    transform: translateY(-50%) rotate(180deg);
    height: 40px;
    width: 40px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
    width: 72%;
    margin-left: 15%;
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
    margin-left: 0px;

}
.sidebar li a:hover{
    background-color: var(--primary-color);
    padding-left: 5px;
    transition: all 0.7s ease;
 
 }
 .sidebar.close li a{
     margin-left: 0;
 }
 
 .sidebar.close li i{
     margin-right: 10%;
 }
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}



.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 90px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}
.bottom-content{
    height: 50px;
    list-style: none;
    margin-left: 30px;
     margin-top: 10px;
    line-height: 40px;
    
 }
 

/* home content */


  .person-img{
    border-radius: 50%;
  }
 
 .table{
    background: transparent;
 }
 tr:nth-child(even) {
    background-color: #dddddd;
  }
 .btn-box{
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 15px;
 }
 #btn-add{
   padding: 10px;
 }
 #btn-remove{
    padding: 10px;
 }

 /* progress area */

 @media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 3rem
}

.card--attendence {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none
}

.card-attendence {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0;
    background-color: #fff;
}

.card-attendence .card-block {
   padding: 1.25rem;
}

h6 {
   font-size: 16px !important;
}

.text-c-green {
   color: #2ed8b6;
}

.m-l-10 {
   margin-left: 10px;
}

.proj-progress-card .progress {
   height: 6px;
   overflow: visible;
   margin-bottom: 10px;
}

.proj-progress-card .progress .progress-bar {
   position: relative;
}

.progress .progress-bar {
   height: 100%;
   color: inherit;
}

.bg-c-red {
   background: #FF5370;
}

.proj-progress-card .progress .progress-bar.bg-c-red:after {
   border: 3px solid #FF5370;
}

.proj-progress-card .progress .progress-bar:after {
   content: "";
   background: #fff;
   position: absolute;
   right: -6px;
   top: -4px;
   border-radius: 50%;
   width: 15px;
   height: 15px;
}

.bg-c-blue {
   background: #4099ff;
}

.proj-progress-card .progress .progress-bar.bg-c-blue:after {
   border: 3px solid #4099ff;
}

.proj-progress-card .progress .progress-bar.bg-c-green:after {
   border: 3px solid #2ed8b6;
}

.bg-c-green {
   background: #2ed8b6;
}

.bg-c-yellow {
   background: #FFB64D;
}

.proj-progress-card .progress .progress-bar.bg-c-yellow:after {
   border: 3px solid #FFB64D;
}

.m-b-30 {
   margin-bottom: 30px;
}

.text-c-red {
   color: #FF5370;
}


.card-attendence-title{
    padding: 5%;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;

}

.table-pagination{
    margin-top: 10px;
    display: flex;
    align-items: baseline;
    justify-content: right;
    table-layout: fixed;
    word-wrap: break-word;
   
 }
 .search-box-expense input{
    width: 30%;
 }
 .search-box-expense{
    display: flex;
    align-items: baseline;
    justify-content: right;
    margin-bottom: 20px;
 }

/* table  */


  .fixTableHead { 
	overflow-y: auto; 
	height: 600px; 
    border: 1px solid  gray;
    border-radius: 5px;
	} 
	.fixTableHead thead th { 
	position: sticky; 
	top: 0; 
	} 
	table { 
	border-collapse: collapse;		 
	width: 100%; 
	} 
	th, 
	td { 
	padding: 8px 15px; 
	} 
	th { 
	background: white; 
	} 
      /* footer */
 .footer{
    display: flex;
    justify-content: center;
    align-items: center;
 }



/* =========================================================================================================================== 
=========================================MEDIA QUERY==========================================================
==============================================================================================================================*/

    @media only screen and (max-width:550px) and (min-width:300px){
        .navbar{
            width: 100%;
        }
        .search-form{
            margin-left: 0;
            width: 50%;
        }
        .nav-item-icon{
            justify-content: space-between;
            display: flex;
            align-items: baseline;
            justify-content: right;
            gap: 10px;
        }
     }

     @media only screen and (max-width:340px) and (min-width:100px){
        .navbar{
            width: 100%;
        }
        .search-form{
            margin-left: 0;
            width: 10%;
        }
        .nav-item-icon{
            justify-content: space-between;
            display: flex;
            align-items: baseline;
            justify-content: right;
            gap: 0px;
        }
     }


     /* ==================================media query for sidebar==================================== */

 @media only screen and (max-width:992px) {
   
   
    .sidebar {
        transform: translateX(-90%);
        padding: 0;
        left: -5px;
        width: 250%;
    }
     .sidebar .menu-bar{
        margin-left: 66%;
        align-items: center;
     }
     .sidebar.close{
        width: 100px;
        align-items: center;
    }
    
    .sidebar header .toggle {
        top: 30px;
    }
    .home{
        display: contents;
    }
    #mainarea-container{
        margin-left: 3%;
    }
    .navbar{
        width: 100%;
    }
    .search-form{
        margin-left: 10%;
        width: 50%;
    }
    .nav-item-icon{
        justify-content: space-between;
        display: flex;
        align-items: baseline;
        justify-content: right;
        gap: 10px;
    }
    .sidebar li.search-box{
        display: none;
    }
 }
/* reusable code for media query sidebar */
@media only screen and (max-width:768px) {
    .sidebar {
        transform: translateX(-90%);
        padding: 0;
        left: -5px;
        width: 280%;
        
    }
    .sidebar .menu-bar{
        margin-left: 87%;
        align-items: center;
     }
 }

 @media only screen and (max-width:600px) and (min-width:480px){
    .sidebar {
        transform: translateX(-90%);
        padding: 0;
        left: -5px;
        width: 330%;
        
    }
    .sidebar .menu-bar{
        margin-left: 87%;
        align-items: center;
     }
 }
 
 @media only screen and (max-width:480px)and (min-width:320px) {
    .sidebar {
        transform: translateX(-90%);
        padding: 0;
        left: -5px;
        width: 450%;
        
    }
    .sidebar .menu-bar{
        margin-left: 87%;
        align-items: center;
     }
 }
