
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
   
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #1707c4;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #383838;
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    overflow-x: hidden;
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
   
    
}

.form{
    position: absolute;
    max-width: 500px;
    width: 100%;
    padding: 40px;
    border-radius: 6px;
    background: transparent;
    border: 1px solid #fff;
    box-shadow: 0 15px 25px rgba(0,0,0,0.9);
    box-sizing: border-box;
    content: '';
    background: rgba(0,0,0,0.4);
    
}


.form.signup{
    opacity: 0;
    pointer-events: none;
}
.forms.show-signup .form.signup{
    opacity: 1;
    pointer-events: auto;
}

.forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
}

header{
    font-size: 28px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

form{
    margin-top: 30px;
}

.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 4px;
    background-color: transparent;
}

.field input,
.field button{
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    border: 1px solid #fff;
}

.field input{
    outline: none;
    padding: 0 15px;
    background: transparent;
    color: #FFF;   
}

.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 18px;
    color: #FFF;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 5px;

}

.field ::placeholder{
    color: #FFF;
}

.field input:focus{
    border-bottom-width: 2px;
}

.field .input-field i{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #e32323;
    cursor: pointer;
    padding: 5px;
}

.field button{
    color: #fff;
    background-color: #0171d3;
    transition: all 0.2s ease;
    cursor: pointer;
    border: none;
}
.field button:hover{
    background-color:#5DADE2;
}
.form-link{
    text-align: center;
    margin-top: 10px;
}

.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
   
}
.form a{
    color: #fff;
    text-decoration: none;
    margin-right: 2px;
}
.form a:hover{
    text-decoration: underline;
}

.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}
.line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}
.error{
    color: red;
}